<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <h4>Welcome, please login using the correct password magic.</h4>

        <h:messages styleClass="alert alert-error"/>

        <h:form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputNickName">NickName</label>
                <div class="controls">
                    <h:inputText value="#{userInfo.nickName}" id="inputNickName" placeholder="NickName"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <h:inputSecret id="inputPassword" value="#{userInfo.password}" placeholder="Password"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <h:commandButton class="btn" value="Log me in"
                                     action="#{authenticationService.login(userInfo)}"/>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>